@font-face {
    font-family: Marker\ Felt\ Wide;
    src: url(Marker\ Felt\ Wide.ttf);
}

html, body {
    font-family: Marker\ Felt\ Wide;
    margin: 0;
    padding: 0;
    min-height:572px;
    max-height: 572px;
    min-width:1000px;
    max-width: 1000px;
}

canvas {
    display: none;
    margin: 0;
    padding-top: 21.5px;
}

#p5_loading {
    display: none;
}

header {
    height: 0;
}

#head {
    margin-top: -21.5px;
    padding-top: 0;
}
h1 {
    padding: 5px;
}
body {
    background-color: white;
    background-image: url(graphics/Avalanche-start.png);
    background-repeat: no-repeat;
    background-size: 1000px;
}
#instructions {
    margin-top: 20px;
}
#instruction {
    background-color: rgba(237, 234, 147, 0.8);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid black;
    padding-top: 95px;
}
#textA, #textB, #textC {
    font-size: 18px;
    padding: 0;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: -10px;
    margin-top: 0;
}
#textA {
    margin-top: -165px;
}
#textC {
    margin-bottom: 0px;
}
#howToHead {
    text-decoration: underline;
    text-underline-offset: 5px;  
    text-decoration-thickness: 2px;  
    height: 0;
    margin: -110px;
    padding-top: 375px;
    padding-bottom: -100px;
    font-size: 35px;
}
header, #content {
    text-align: center;
}

#backButton {
    margin-top: 0;
}

.buttons {
    margin-top: 350px;
}

#restartButton {
    margin-top: 0;
}

button {
    width: 250px;
    height: 50px;
    background-color: rgb(237,234,145);
    border: 1px solid black;
    border-radius: 15px;
    font-size: 20pt;
    font-family: Marker\ Felt\ Wide;
}

.finalScore {
    margin-top: 325px;
    font-size: 40px;
}

#gamescreen {
    position: relative;
}

.title {
    position: absolute;
    left: 10px;
}

.score {
    position: absolute;
    right: 10px;
}

audio {
    visibility: hidden;
}