body {
    background-color: lightblue;
}
#canvasArea {
    display: none;
    background-color: white;
    border: 1px solid black;
    height: 650px;
    width: 100%;
    box-sizing: border-box;
}
header, #content {
    text-align: center;
}

.levels {
    position: relative;
}

.lev {
    position: absolute;
    left: 10px;
}

.score {
    position: absolute;
    right: 10px;
}